services:
  nuxt:
    image: 309050103249.dkr.ecr.us-east-2.amazonaws.com/mhartzell/time-flies:latest
    restart: always
    ports:
      - "3000:3000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      DATABASE_URL: "${DATABASE_URL}"