@import "./variables.css";
@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-size: var(--font-size-base);
	font-family: 'Lexend', sans-serif;
	font-weight: 300;
	background-color: var(--color-background);
	color: var(--color-text);
}